<?xml version="1.0" encoding="UTF-8"?>
<!--
This is example settings.xml file with configuration required for c3 development
If you already have your settings.xml file please, add properties from the profile below
to your local settings.xml file, otherwise you can just copy this file to ~/.m2 directory
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>

        <profile>
            <id>development</id>
            <properties>
                <virgo.path.libs>/opt/virgo/repository/usr</virgo.path.libs>
                <virgo.path.pickup>/opt/virgo/pickup</virgo.path.pickup>
                <client.path>target/dist</client.path>
            </properties>
        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>development</activeProfile>
    </activeProfiles>

</settings>
