html,body {
	background-color: #44484F;
	font-family: fantasy, sans-serif;
	font-size: 14px;
	height: 100%;
	color: darkSlateGray;
}

.wrap {
	padding-top: 0px;
	margin-top: 0px; position : relative;
	width: 1000px; /*могут быть и пиксели*/
	margin: 0px auto;
	/*вытягиваем в высоту*/
	height: auto !important;
	height: 100%;
	min-height: 600px;
	background-color: #FFFFFF;
	position: relative;
}

.copyright {
	font-size: 12px;
	clear: right;
	padding: 10px;
	position: absolute;	
	right:10px;
	bottom: 1px;
}

.center_page {
	padding: 0px 30px;
}

.main-div {
	width: 100%;
	height: 87px;
	background-color: #AAAAAA;
	font-size: 14px;
}

.head-div {
	width: 100%;
}

.head-left {
	clear: left;
	float: left;
	width: 40%;
}

.head-search {
	right: 160px;
	top: 40px;
}

.search_query {
	margin-top: 31px;
}

.head-right {
	position: absolute;
	right: 10px;
	top: 9px;
	text-align: right;
	width: 218px;
}

#work_groups {
	margin-left: 80px;
	font-size: 20px;
	/*color: RoyalBlue;*/
}

#description {
	margin-left: 600px;
	margin-top: -46px;
	font-size: 20px;
	/*color: RoyalBlue;*/
}

#main_groups {
	margin-left: 50px;
	font-size: 16px;
}

.search_filter {
	float: left;
	margin: 2px 30px 0px 30px;
	padding: 10px;
	width: 133px;
	height: 105px;
}

#search_table {
	background: white;
	width: 750px;
	height: auto;
	float: right;
	position: relative;
	text-align: right;
	right: 30px;
	margin: 10px 10px 10px 0;
	border: none;
	border-spacing: 0px;
}

#search_el {
	
}

#search_word {
	color: Snow;
	margin-left: -65px;
	margin-top: 32px;
	position: absolute;
}

#c3image {
	float: left;
}

#search_page {
	margin: 30px;
}

#search_search {
	width: 450px;
	margin-right: 25px;
}

#search {
	padding-left: 130px;
	padding-right: 5px;
}

#search_tab {
	position: absolute;
	top: 32px;
	padding-left: 5px;
}

#node_name {
	text-align: left;
	margin-top: 35px;
	padding: 0;
}

#root_panel {
	width: 1000px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#header_page {
	text-align: center;
	font-size: 22px;
	/*color: RoyalBlue;*/
}

#content-div {
	padding-bottom: 40px;
	width: 1000px;
}

#comment-list {
	padding-left: 0px;
}

.menu {
	background: #AAAAAA;
	font-size: 15px;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
	padding-top: 10px;
	width: 1000px;
	text-align: center;
}

.menu_item {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
	list-style-type: none;
	width: 330px;
	height: 600px;
}

#comments h3 {
	color: #505050;
	font-size: 2em;
}

#document h3 {
	color: #505050;
	font-size: 2em;
}

.some-block {
	background-color: #F3F2F2;
}

table.comment-table {
	width: 100%;
}

div.comment-block {
	margin-bottom: 15px;
	background-color: #DDDDDD;
}

#reply-block {
	margin-left: 10px;
	padding-bottom: 10px;
}

div.comment-block {
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 5px;
}

div.comment-block-0 {
	
}

div.comment-block-1 {
	margin-left: 10px;
}

div.comment-block-2 {
	margin-left: 20px;
}

div.comment-block-3 {
	margin-left: 30px;
}

div.comment-block-4 {
	margin-left: 40px;
}

div.comment-block-5 {
	margin-left: 50px;
}

div.comment-block-6 {
	margin-left: 60px;
}

div.comment-block-7 {
	margin-left: 70px;
}

div.comment-block-8 {
	margin-left: 80px;
}

div.comment-block-9 {
	margin-left: 90px;
}

p.comment-text {
	
}

p.comment-sign {
	margin-top: 14px;
	margin-bottom: 14px;
	overflow: hidden;
}

span.comment-author {
	padding-bottom: 4px;
	padding-right: 20px;
	display: block;
	float: right;
}

a.comment-reply {
	display: block;
	float: left;
}

#add-comment {
	padding: 10px;
}

#comment-body {
	width: 100%;
}

#file_tree_block {
	width: 60%;
	float: left;
}

#file_detail_block {
	width: 40%;
	float: left;
}

#file_detail_block div {
	margin: 0px 0px 0px 30px;
}

.footer {
	margin: 10px 0px 0px 0px;
	clear: both;
}

a:link,a:visited {
	color: #404040;
}

a.header {
	text-decoration: none !important;
}

img.wiki_image {
	border: none;
}

#doc-block ul {
	margin: 0px;
	padding: 0px;
}