<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:annotation-config />

	<context:component-scan base-package="org.aphreet.c3.web" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="username" value="c3owner" />
		<property name="password" value="some_password" />
		<property name="url"
			value="jdbc:mysql://localhost/c3_next?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="20" />
		<property name="minIdle" value="0" />
		<property name="poolPreparedStatements" value="false" />
		<property name="defaultAutoCommit" value="false" />
		<property name="defaultTransactionIsolation" value="1" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="true" />
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
		<property name="validationQuery" value="select 1 from dual" />
	</bean>


	<tx:annotation-driven transaction-manager="txManager" />


	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>org/aphreet/c3/web/entity/user.hbm.xml</value>
				<value>org/aphreet/c3/web/entity/resource.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect
				</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		
		<property name="eventListeners">
			<map>
				<entry key="pre-insert">
					<ref bean="resourcePersistenceListener"/>
				</entry>
				<entry key="pre-update">
					<ref bean="resourcePersistenceListener"/>
				</entry>
				<entry key="post-load">
					<ref bean="resourcePersistenceListener"/>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="resourcePersistenceListener"
		class="org.aphreet.c3.web.dao.listener.ResourcePersistenceListener">
		<property name="platformAccessEndpoint" ref="accessService" />
	</bean>

	<bean id="messageSource"
		class="org.aphreet.springframework.resource.XMLResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>org.aphreet.c3.web.message.messages
                                </value>
				<value>org.aphreet.c3.web.message.labels
                                </value>
			</list>
		</property>
	</bean>

	<alias name="messageSource" alias="msgs" />

	<bean id="groupBeanFactory" class="org.aphreet.c3.web.webbeans.group.GroupBeanFactory" />

	<bean id="groupBean" factory-bean="groupBeanFactory"
		factory-method="createGroupBean" scope="request" />

	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="localhost"/>
	</bean>

</beans>