<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>c3-web</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>my</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>enable</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.aphreet.springframework.web.FacesOSGiXmlApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jspx</param-value>
	</context-param>

	<context-param>
		<param-name>createTempFiles</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml
			/WEB-INF/applicationServices.xml
			/WEB-INF/securityContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>exFilter</filter-name>
		<filter-class>org.aphreet.c3.web.servlet.ExceptionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>exFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/user/signout</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>txFilter</filter-name>
		<filter-class>org.aphreet.c3.web.servlet.TxFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>txFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>txFilter</filter-name>
		<servlet-name>FileServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>txFilter</filter-name>
		<servlet-name>MiltonServlet</servlet-name>
	</filter-mapping>
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
		<init-param>
			<param-name>maxRequestSize</param-name>
			<param-value>100000000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>org.aphreet.c3.web.servlet.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MiltonServlet</servlet-name>
		<servlet-class>com.bradmcevoy.http.MiltonServlet</servlet-class>
		<init-param>
			<param-name>resource.factory.class</param-name>
			<param-value>org.aphreet.c3.web.webdav.DavResourceFactory</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiltonServlet</servlet-name>
		<url-pattern>/dav/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MiltonServlet</servlet-name>
		<url-pattern>/dav</url-pattern>
	</servlet-mapping>

</web-app>