<?xml version="1.0"?>
<ServerConfiguration>
    <!-- this key needs generating by the provided keygen tool -->
    <ServerHostKey PrivateKeyFile="ssh-server/hostkey.key"/>

    <Port>2022</Port>

    <!-- ListenAddress is optional; the default is 0.0.0.0 which listens
     on any address. If you do specify an address it's highly recommended
     that you use an IP, not a hostname. A hostname will introduce a
     dependency on DNS. -->
    <ListenAddress>127.0.0.1</ListenAddress>
    <MaxConnections>3</MaxConnections>

    <!-- add other authentication methods as desired -->
    <AllowedAuthentication>password</AllowedAuthentication>
    <AllowedAuthentication>keyboard-interactive</AllowedAuthentication>
    <!--<AllowedAuthentication>public-key</AllowedAuthentication>-->

    <!-- You can specify more subsystems, or even a replacement SFTP subsystem -->
    <Subsystem Name="sftp" Type="class" Provider="com.sshtools.daemon.sftp.SftpSubsystemServer"/>

</ServerConfiguration>
